<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <title>Multiple user login</title>
  </head>
  <body>
  <h1>Welcome  Django </h1>
  
        <label>Log in if you already have registered!</label><br>
        <button><a href="{% url 'login_view' %}">login</a></button><br>
                  
        <label>If not register here!</label><br>
        <button><a href="{% url 'register' %}">register</a></button>
            


    
  </body>
</html>